/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em;
    font-family: $sans-serif-narrow;
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
  
    @include breakpoint($x-large) {
      max-width: $x-large;
    }


    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}


.masthead__menu-item {
  background-color: #faf5e6; /* Consider testing with the commented color if necessary */
  display: inline-block; /* Allows items to align horizontally in a flex container */
  list-style-type: none;
  white-space: nowrap; /* Prevents text wrapping */
  padding: 0; /* Streamline padding */
  margin: 0; /* Streamline margin */
  overflow-x: hidden; /* Ensure no horizontal scroll */
}

.masthead__menu-item--lg {
  font-weight: 700;
    /*padding-right: 210%;*/
  /* Adjust padding or add styles here if needed */
}

